.Transmit-Sequence-Fail-Fail-1-hex {
    color: #F25E6B;
}

.Transmit-Sequence-Fail-Fail-2-hex {
    color: #73363B;
}

.Transmit-Sequence-Fail-Fail-3-hex {
    color: #112226;
}

.Transmit-Sequence-Fail-Fail-4-hex {
    color: #0C3B40;
}

.Transmit-Sequence-Fail-Fail-5-hex {
    color: #A9BF5A;
}